body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:peachpuff;
}

#gameMode{
    display: flex;
    flex-direction: row;
}

.players{
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.names{
    display: none;
    flex-direction: column;
}

.textField{
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
}

.button{
    height: 30px;
}

#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    width: 100px;
    height: 100px;

    cursor: pointer;
}

#playAgainButton{
    padding: 10px;
    border: 1px solid grey;
    display: none;
    cursor: pointer;
}

#result{
    text-align: center;
}

#record{
    display: none;
}

#recordText{
    text-align: center;
}

#resetRecord{
    padding: 10px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}